In [1]:
import pandas as pd

In [2]:
!jupyter kernelspec list --json

{
  "kernelspecs": {
    "python3": {
      "resource_dir": "C:\\ProgramData\\Anaconda3\\share\\jupyter\\kernels\\python3",
      "spec": {
        "argv": [
          "C:/ProgramData/Anaconda3\\python.exe",
          "-m",
          "ipykernel_launcher",
          "-f",
          "{connection_file}"
        ],
        "env": {},
        "display_name": "Python 3",
        "language": "python",
        "interrupt_mode": "signal",
        "metadata": {}
      }
    }
  }
}

In [3]:
dframe = pd.read_csv('FastFoodRestaurants.csv')

In [4]:
dframe

,address,city,country,keys,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,us/ny/massena/324mainst/-1161002137,44.921300,-74.890210,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
1,530 Clinton Ave,Washington Court House,US,us/oh/washingtoncourthouse/530clintonave/-7914...,39.532550,-83.445260,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,us/ky/maysville/408marketsquaredr/1051460804,38.627360,-83.791410,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
3,6098 State Highway 37,Massena,US,us/ny/massena/6098statehighway37/-1161002137,44.950080,-74.845530,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
4,139 Columbus Rd,Athens,US,us/oh/athens/139columbusrd/990890980,39.351550,-82.097280,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."
...,...,...,...,...,...,...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,US,us/ga/augusta/3013peachorchardrd/-791445730,33.415257,-82.024531,Wendy's,30906,GA,"http://www.wendys.com,http://wendys.com"
9996,678 Northwest Hwy,Cary,US,us/il/cary/678northwesthwy/787691191,42.217300,-88.255800,Lee's Oriental Martial Arts,60013,IL,http://www.mcdonalds.com
9997,1708 Main St,Longmont,US,us/co/longmont/1708mainst/-448666054,40.189190,-105.101720,Five Guys,80501,CO,http://fiveguys.com
9998,67740 Highway 111,Cathedral City,US,us/ca/cathedralcity/67740highway111/-981164808,33.788640,-116.482150,El Pollo Loco,92234,CA,"http://www.elpolloloco.com,http://elpolloloco.com"
9999,5701 E La Palma Ave,Anaheim,US,us/ca/anaheim/5701elapalmaave/554191587,33.860074,-117.789762,Carl's Jr.,92807,CA,http://www.carlsjr.com

In [22]:
dframe1 = dframe.drop(['websites','keys','country','latitude','longitude','postalCode'], axis=1)

In [23]:
dframe1

,address,city,name,province
0,324 Main St,Massena,McDonald's,NY
1,530 Clinton Ave,Washington Court House,Wendy's,OH
2,408 Market Square Dr,Maysville,Frisch's Big Boy,KY
3,6098 State Highway 37,Massena,McDonald's,NY
4,139 Columbus Rd,Athens,OMG! Rotisserie,OH
...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,Wendy's,GA
9996,678 Northwest Hwy,Cary,Lee's Oriental Martial Arts,IL
9997,1708 Main St,Longmont,Five Guys,CO
9998,67740 Highway 111,Cathedral City,El Pollo Loco,CA
9999,5701 E La Palma Ave,Anaheim,Carl's Jr.,CA

In [24]:
dframe1.isnull()

      address   city   name  province
0       False  False  False     False
1       False  False  False     False
2       False  False  False     False
3       False  False  False     False
4       False  False  False     False
...       ...    ...    ...       ...
9995    False  False  False     False
9996    False  False  False     False
9997    False  False  False     False
9998    False  False  False     False
9999    False  False  False     False

[10000 rows x 4 columns]

In [8]:
from scipy import stats
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
%matplotlib inline

In [10]:
dframe1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   address     10000 non-null  object
 1   city        10000 non-null  object
 2   latitude    10000 non-null  float64
 3   longitude   10000 non-null  float64
 4   name        10000 non-null  object
 5   postalCode  10000 non-null  object
 6   province    10000 non-null  object
dtypes: float64(2), object(5)
memory usage: 547.0+ KB

In [11]:
#what is the most popular fast food restaurant
#what province has the most fast food restaurants
#what province has the least fast food restuarnts
#what city has the highest number of fast food restaurant
#what cities have the lowest number of fast food restaurants

In [12]:
len(dframe1)

10000

In [13]:
dframe1['province'].value_counts()
#CA has the most restaurants overall

CA         676
TX         634
OH         543
FL         471
IN         379
IL         363
NC         358
GA         347
MO         334
KY         332
VA         327
PA         283
NY         269
MI         251
TN         245
SC         238
LA         237
AL         236
WA         209
AZ         208
OK         208
WI         186
IA         166
UT         159
MD         159
CO         158
NJ         151
AR         151
NM         149
MN         148
NV         135
MA         131
OR         114
SD         105
KS         103
ID          99
CT          96
WV          93
NE          92
MS          82
ND          50
ME          44
VT          43
WY          41
HI          40
NH          36
DE          32
MT          25
RI          24
DC          21
AK          14
Co Spgs      5
Name: province, dtype: int64

In [14]:
dframe1['name'].value_counts()
#McDonalds is the most popular restaurant

McDonald's                   1886
Burger King                  1154
Taco Bell                     873
Wendy's                       731
Arby's                        518
                             ...
Dq Grill & Chill                1
Costa Vida                      1
Great Steak                     1
Mr Char-Burger                  1
Jim Bob's Chicken Fingers       1
Name: name, Length: 548, dtype: int64

In [ ]:
#value.counts()
#groupby()

In [15]:
dframe.groupby('city')['name'].count()

city
Abbeville      2
Aberdeen      18
Abilene        3
Abingdon       1
Acton          1
              ..
Zachary        1
Zanesville    12
Zebulon        2
Zion           1
Zionsville     1
Name: name, Length: 2775, dtype: int64

In [16]:
dframe.groupby('province')['name'].count()
#another was to see that CA has the most restaurants
#AK has the least number of restaurants

province
AK          14
AL         236
AR         151
AZ         208
CA         676
CO         158
CT          96
Co Spgs      5
DC          21
DE          32
FL         471
GA         347
HI          40
IA         166
ID          99
IL         363
IN         379
KS         103
KY         332
LA         237
MA         131
MD         159
ME          44
MI         251
MN         148
MO         334
MS          82
MT          25
NC         358
ND          50
NE          92
NH          36
NJ         151
NM         149
NV         135
NY         269
OH         543
OK         208
OR         114
PA         283
RI          24
SC         238
SD         105
TN         245
TX         634
UT         159
VA         327
VT          43
WA         209
WI         186
WV          93
WY          41
Name: name, dtype: int64

In [25]:
#dframe1['highest_rank']=dframe1['name'].rank(method="max")
#dframe1

In [27]:
dframe1

,address,city,name,province
0,324 Main St,Massena,McDonald's,NY
1,530 Clinton Ave,Washington Court House,Wendy's,OH
2,408 Market Square Dr,Maysville,Frisch's Big Boy,KY
3,6098 State Highway 37,Massena,McDonald's,NY
4,139 Columbus Rd,Athens,OMG! Rotisserie,OH
...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,Wendy's,GA
9996,678 Northwest Hwy,Cary,Lee's Oriental Martial Arts,IL
9997,1708 Main St,Longmont,Five Guys,CO
9998,67740 Highway 111,Cathedral City,El Pollo Loco,CA
9999,5701 E La Palma Ave,Anaheim,Carl's Jr.,CA

In [40]:
prov_rest= dframe1[(dframe1["name"]=="McDonalds")]
prov_rest

                         address          city       name province
42    8401 Gateway Blvd W Ste M4       El Paso  McDonalds       TX
76            3898 Cleveland Hwy        Dalton  McDonalds       GA
98                 4204 Milan Rd      Sandusky  McDonalds       OH
109             2984 Upland Pkwy        Sidney  McDonalds       NE
135            905 W Corbett Ave     Swansboro  McDonalds       NC
...                          ...           ...        ...      ...
9608             110 Carillon Dr        Garner  McDonalds       NC
9861      3880 Pacific Coast Hwy      Torrance  McDonalds       CA
9924                2395 York Rd       Jamison  McDonalds       PA
9931          13146 Florida Blvd   Baton Rouge  McDonalds       LA
9985           820 City Park Ave  Fort Collins  McDonalds       CO

[111 rows x 4 columns]

In [51]:
CA_rest=dframe1[(dframe1["name"]=="McDonalds")& (dframe1["province"]=="CA")]
CA_rest
#there are 6 McDonalds shops in CA

                     address          city       name province
2937         83131 Avenue 48     Coachella  McDonalds       CA
3005         1521 Bell Drive       Atwater  McDonalds       CA
5107     13770 Van Nuys Blvd       Pacoima  McDonalds       CA
5839            322 S Center      Stockton  McDonalds       CA
7279          850 N Wendy Dr  Newbury Park  McDonalds       CA
9861  3880 Pacific Coast Hwy      Torrance  McDonalds       CA

In [129]:
CA_rest['province'].value_counts()
#NA & WI have the highest no of McDonald branches

NC    10
WI    10
TX     9
OH     8
FL     8
NM     6
CA     6
PA     5
KY     5
AL     3
CT     3
LA     3
IL     3
WA     3
CO     2
GA     2
SC     2
MI     2
MO     2
MN     2
NE     2
NY     2
KS     1
OR     1
TN     1
WV     1
MA     1
AK     1
IN     1
SD     1
VT     1
NV     1
MD     1
AR     1
VA     1
Name: province, dtype: int64

In [53]:
prov_rest.value_counts()

address                           city              name       province
100 Isaac Shelby Drive            Shelbyville       McDonalds  KY          1
3880 Pacific Coast Hwy            Torrance          McDonalds  CA          1
4800 Larson Beach Road            Mc Farland        McDonalds  WI          1
4774 Alta Dr                      Las Vegas         McDonalds  NV          1
450 Grapevine Hwy                 Hurst             McDonalds  TX          1
                                                                          ..
1731 Montgomery Hwy               Birmingham        McDonalds  AL          1
1704 N Main St                    Mitchell          McDonalds  SD          1
1700 Genesee St                   Utica             McDonalds  NY          1
1640 W Main St                    West Liberty      McDonalds  KY          1
Mile Post 103 N NY State Thruway  Malden On Hudson  McDonalds  NY          1
Length: 111, dtype: int64

In [55]:
prov_rest["province"].min()
#Arkansas starts the list on McDonalds owings provinces

'AK'

In [57]:
prov_rest["province"].max()
#West Virginia ends the list on McDonalds owings provinces

'WV'

In [62]:
dframe.groupby('name')['province'].count()

name
31st Avenue Gyro             1
7-11                         1
7-Eleven                     1
A & W Family Restaurant      1
A&W                          3
                            ..
Yum Brands Inc               1
Zaxby's                      2
Zip's Hamburgers And Fish    1
Ziti's Italian Express       1
b.good                       1
Name: province, Length: 548, dtype: int64

In [63]:
dframe1['name'].min()

'31st Avenue Gyro'

In [69]:
prov_rest1 = dframe1[(dframe1["name"]=="31st Avenue Gyro")]
prov_rest1

            address     city              name province
4630  4402 31st Ave  Astoria  31st Avenue Gyro       NY

In [81]:
city_rest=dframe1[(dframe1["name"]=="McDonalds")& (dframe1["city"])]
city_rest

                         address          city       name province
42    8401 Gateway Blvd W Ste M4       El Paso  McDonalds       TX
76            3898 Cleveland Hwy        Dalton  McDonalds       GA
98                 4204 Milan Rd      Sandusky  McDonalds       OH
109             2984 Upland Pkwy        Sidney  McDonalds       NE
135            905 W Corbett Ave     Swansboro  McDonalds       NC
...                          ...           ...        ...      ...
9608             110 Carillon Dr        Garner  McDonalds       NC
9861      3880 Pacific Coast Hwy      Torrance  McDonalds       CA
9924                2395 York Rd       Jamison  McDonalds       PA
9931          13146 Florida Blvd   Baton Rouge  McDonalds       LA
9985           820 City Park Ave  Fort Collins  McDonalds       CO

[111 rows x 4 columns]

In [139]:
prov_rest7=dframe1[(dframe1["name"]!="McDonald's")& (dframe1["city"])]
prov_rest7
#These are the provinces and cities that don't have a McDonalds

,address,city,name,province
1,530 Clinton Ave,Washington Court House,Wendy's,OH
2,408 Market Square Dr,Maysville,Frisch's Big Boy,KY
4,139 Columbus Rd,Athens,OMG! Rotisserie,OH
5,4182 Tonya Trl,Hamilton,Domino's Pizza,OH
6,590 S Main St,Englewood,Domino's Pizza,OH
...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,Wendy's,GA
9996,678 Northwest Hwy,Cary,Lee's Oriental Martial Arts,IL
9997,1708 Main St,Longmont,Five Guys,CO
9998,67740 Highway 111,Cathedral City,El Pollo Loco,CA
9999,5701 E La Palma Ave,Anaheim,Carl's Jr.,CA

In [128]:
city_rest['province'].value_counts()
#North Carolina and Wisconsin have the most number of Mcdonalds

NC    10
WI    10
TX     9
OH     8
FL     8
NM     6
CA     6
PA     5
KY     5
AL     3
CT     3
LA     3
IL     3
WA     3
CO     2
GA     2
SC     2
MI     2
MO     2
MN     2
NE     2
NY     2
KS     1
OR     1
TN     1
WV     1
MA     1
AK     1
IN     1
SD     1
VT     1
NV     1
MD     1
AR     1
VA     1
Name: province, dtype: int64

In [83]:
city_rest['city'].value_counts()

Lexington        3
Wausau           2
Fremont          2
Carlsbad         2
Tallahassee      2
                ..
Miami            1
Port Townsend    1
Plain City       1
Grand Prairie    1
Winnfield        1
Name: city, Length: 103, dtype: int64

In [89]:
city_rest1 = city_rest[(city_rest["city"]=="Lexington")& (city_rest['name'])]

#Lexington cities is the city with the most McDonald restaurants
#2 in North Carolina and the Other in Kentucky
city_rest1

                        address       city       name province
1733  3765 Palomar Centre Drive  Lexington  McDonalds       KY
5928       1430 Cotton Grove Rd  Lexington  McDonalds       NC
7519             812 Winston Rd  Lexington  McDonalds       NC

In [92]:
city_rest['city'].min()

'Akron'

In [91]:
city_rest2 = city_rest[(city_rest["city"]=="Yakima")& (city_rest['name'])]
city_rest2

            address    city       name province
2046  2326 S 1st St  Yakima  McDonalds       WA

In [114]:
city_max =dframe1.groupby('city')['name'].count()
city_max

city
Abbeville      2
Aberdeen      18
Abilene        3
Abingdon       1
Acton          1
              ..
Zachary        1
Zanesville    12
Zebulon        2
Zion           1
Zionsville     1
Name: name, Length: 2775, dtype: int64

In [119]:
prov_rest3=dframe1[(dframe1["name"]=="Burger King")& (dframe1["province"])]
prov_rest3

                      address           city         name province
40               982 Macon St  Warner Robins  Burger King       GA
41     6060 San Mateo Blvd NE    Albuquerque  Burger King       NM
46            18000 Bagley Rd      Cleveland  Burger King       OH
63              225 Grant Ave         Auburn  Burger King       NY
75                 Co-Op City          Bronx  Burger King       NY
...                       ...            ...          ...      ...
9950          700 B Dacula Rd         Dacula  Burger King       GA
9968          114 W Jasper St          Paris  Burger King       IL
9977        6201 Lapalco Blvd        Marrero  Burger King       LA
9982       3020 E Sunshine St    Springfield  Burger King       MO
9984  7100 Coastal Palms Blvd    Panama City  Burger King       FL

[1154 rows x 4 columns]

In [122]:
prov_rest3['province'].value_counts()
#Florida has the most Burger Kings

FL         92
OH         72
NY         59
CA         58
IL         56
MI         55
PA         53
TX         47
IN         43
GA         42
VA         40
MA         30
AL         30
WA         29
WI         27
SC         27
LA         26
NC         25
TN         25
CO         24
NJ         23
MN         23
IA         23
KY         21
AZ         16
MO         16
MD         16
KS         15
OR         14
CT         12
SD         10
NV         10
WV         10
UT          8
ME          8
NE          8
ID          7
NM          7
ND          6
OK          6
AR          5
RI          5
MS          5
HI          5
NH          4
WY          4
VT          3
DE          3
Co Spgs     1
Name: province, dtype: int64

In [123]:
prov_rest4=dframe1[(dframe1["name"]=="Burger King")& (dframe1["city"])]
prov_rest4

                      address           city         name province
40               982 Macon St  Warner Robins  Burger King       GA
41     6060 San Mateo Blvd NE    Albuquerque  Burger King       NM
46            18000 Bagley Rd      Cleveland  Burger King       OH
63              225 Grant Ave         Auburn  Burger King       NY
75                 Co-Op City          Bronx  Burger King       NY
...                       ...            ...          ...      ...
9950          700 B Dacula Rd         Dacula  Burger King       GA
9968          114 W Jasper St          Paris  Burger King       IL
9977        6201 Lapalco Blvd        Marrero  Burger King       LA
9982       3020 E Sunshine St    Springfield  Burger King       MO
9984  7100 Coastal Palms Blvd    Panama City  Burger King       FL

[1154 rows x 4 columns]

In [124]:
prov_rest4['city'].value_counts()
#Miami has the most Burger King Restaurants

Miami              19
Fort Lauderdale    15
Cincinnati         12
Denver              9
Memphis             9
                   ..
Eglin Afb           1
Hope                1
Manassas            1
Kendallville        1
Tewksbury           1
Name: city, Length: 768, dtype: int64

In [127]:
prov_rest5=dframe1[(dframe1["name"]=="Burger King")& (dframe1["city"]=="Miami")]
prov_rest5
#The 19 cities in Miami(FL) with Burger Kings

                   address   city         name province
3083        7390 Coral Way  Miami  Burger King       FL
3979   20505 Old Cutler Rd  Miami  Burger King       FL
4444     7955 W Flagler St  Miami  Burger King       FL
4450   12215 Biscayne Blvd  Miami  Burger King       FL
4463       233 NE 167th St  Miami  Burger King       FL
4464       12500 SW 8th St  Miami  Burger King       FL
4466    11200 SW 137th Ave  Miami  Burger King       FL
4467      955 SW 107th Ave  Miami  Burger King       FL
4468      1910 NE 163rd St  Miami  Burger King       FL
4471     4032 SW 137th Ave  Miami  Burger King       FL
4488      2275 SW 87th Ave  Miami  Burger King       FL
4489        6800 SW 8th St  Miami  Burger King       FL
4492       9675 SW 40th St  Miami  Burger King       FL
4500       4201 NW 36th St  Miami  Burger King       FL
4504  11400 Quail Roost Dr  Miami  Burger King       FL
4508       8050 NW 36th St  Miami  Burger King       FL
6149      9201 S Dixie Hwy  Miami  Burger King       FL
6194        3051 Coral Way  Miami  Burger King       FL
7829      12790 NW 7th Ave  Miami  Burger King       FL

In [132]:
prov_rest6=dframe1[(dframe1["name"]!="Burger King")& (dframe1["city"]=="Miami")]
prov_rest6

                         address   city               name province
24               1131n N Main St  Miami         McDonald's       OK
281            18710 S Dixie Hwy  Miami     Pollo Tropical       FL
2272            1699 Ne 123rd St  Miami    Flip Burger Bar       FL
4434              8565 Coral Way  Miami      Dunkin Donuts       FL
4435         13286 Biscayne Blvd  Miami          Five Guys       FL
4436             13200 SW 8th St  Miami                KFC       FL
4440             8695 NW 58th St  Miami             Subway       FL
4445            10754 SW 24th St  Miami     Dunkin' Donuts       FL
4448         13801 Biscayne Blvd  Miami                KFC       FL
4449        11575 Quail Roost Dr  Miami         McDonald's       FL
4453             8737 SW 24th St  Miami     Domino's Pizza       FL
4458             11930 SW 8th St  Miami     Domino's Pizza       FL
4462            12699 NE 6th Ave  Miami          Pizza Hut       FL
4469             13870 SW 8th St  Miami          Pizza Hut       FL
4470            19960 NW 2nd Ave  Miami          Pizza Hut       FL
4473           20150 W Dixie Hwy  Miami     Domino's Pizza       FL
4481            1638 NE 164th St  Miami     Domino's Pizza       FL
4494           1433 Sw 107th Ave  Miami          Five Guys       FL
4495                5826 Bird Rd  Miami                KFC       FL
4497               966 SW 8th St  Miami                KFC       FL
4499             7405 NW 36th St  Miami          Mcdonalds       FL
4516            125 E Flagler St  Miami                KFC       FL
5661          15455 SW 137th Ave  Miami         Los Verdes       FL
5878  2001 Biscayne Blvd Ste 103  Miami     Domino's Pizza       FL
5945      18601 S. Dixie Highway  Miami      Boston Market       FL
6089             1100 NW 54th St  Miami            Wendy's       FL
6257              3280 Coral Way  Miami         McDonald's       FL
6331               453 Sw 8th St  Miami     Domino's Pizza       FL
6971             710 NW 37th Ave  Miami          Taco Bell       FL
7119          2590 Biscayne Blvd  Miami                KFC       FL
7195            10575 NW 41st St  Miami     Pollo Tropical       FL
7336              165 SE 3rd Ave  Miami             SUBWAY       FL
7359              4180 SW 9th St  Miami         McDonald's       FL
7735            444 Brickell Ave  Miami             Subway       FL
7756            4100 NW 27th Ave  Miami             Subway       FL
8116             8403 NW 12th St  Miami          McDonalds       FL
8992             7890 NW 25th St  Miami          Checker's       FL
9068          6815 Biscayne Blvd  Miami  Luna Corner Pizza       FL
9159            12485 NW 7th Ave  Miami            Wendy's       FL

In [142]:
prov_rest7=dframe1[(dframe1["name"]!="McDonald's")& (dframe1["city"])]
prov_rest7

,address,city,name,province
1,530 Clinton Ave,Washington Court House,Wendy's,OH
2,408 Market Square Dr,Maysville,Frisch's Big Boy,KY
4,139 Columbus Rd,Athens,OMG! Rotisserie,OH
5,4182 Tonya Trl,Hamilton,Domino's Pizza,OH
6,590 S Main St,Englewood,Domino's Pizza,OH
...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,Wendy's,GA
9996,678 Northwest Hwy,Cary,Lee's Oriental Martial Arts,IL
9997,1708 Main St,Longmont,Five Guys,CO
9998,67740 Highway 111,Cathedral City,El Pollo Loco,CA
9999,5701 E La Palma Ave,Anaheim,Carl's Jr.,CA

In [161]:
dframe1

,address,city,name,province
0,324 Main St,Massena,McDonald's,NY
1,530 Clinton Ave,Washington Court House,Wendy's,OH
2,408 Market Square Dr,Maysville,Frisch's Big Boy,KY
3,6098 State Highway 37,Massena,McDonald's,NY
4,139 Columbus Rd,Athens,OMG! Rotisserie,OH
...,...,...,...,...
9995,3013 Peach Orchard Rd,Augusta,Wendy's,GA
9996,678 Northwest Hwy,Cary,Lee's Oriental Martial Arts,IL
9997,1708 Main St,Longmont,Five Guys,CO
9998,67740 Highway 111,Cathedral City,El Pollo Loco,CA
9999,5701 E La Palma Ave,Anaheim,Carl's Jr.,CA

In [171]:
df_plot= dframe1.sample(n=30,random_state=10)
#random sample of the entire data set
df_plot

                            address            city              name province
937               2601 Orleans St W      Stillwater        McDonald's       MN
9355           599 University Ave W      Saint Paul            SUBWAY       MN
2293   275 S Charles G Seivers Blvd         Clinton       Burger King       TN
192                 681 W Bridge St        Owatonna         Taco Bell       MN
8675             7340 Westbank Expy         Marrero            Subway       LA
53    5680 Commercial St SE Ste 100           Salem    Domino's Pizza       OR
9596                  280 E Vine St       Kissimmee          Checkers       FL
265          1875 S Springfield Ave         Bolivar         Taco Bell       MO
984                   655 N 12th St         Lemoyne         Taco Bell       PA
9793             17217 Oak Park Ave     Tinley Park            Subway       IL
4737                   1501 Main St     Asbury Park        McDonald's       NJ
4691              2771 Spring Rd SE         Atlanta         Pizza Hut       GA
6016               923 N Quincy Ave         Ottumwa         Taco Bell       IA
5376   4575 Orange Beach Blvd Ste 6    Orange Beach       Bravo Tacos       AL
9366    2867 S San Tan Village Pkwy         Gilbert           Wendy's       AZ
2481         8050 Dean Martin Drive       Las Vegas         Taco Time       NV
3909             208 E Corsicana St          Athens         Taco Bell       TX
7533             230 E Glenwood Ave          Smyrna    Domino's Pizza       DE
212            1052 Sagamore Pkwy W  West Lafayette      Jimmy John's       IN
1461              15 Donnermeyer Dr        Bellevue        McDonald's       KY
9069                5477 Clyde Park         Wyoming    Steak 'n Shake       MI
3519                1903 N Bluff St          Fulton    SONIC Drive In       MO
2933                1101 S Front St         Mankato    Topper's Pizza       MN
9122               100 Integrity Dr          Hebron        McDonald's       OH
209                    105 Blake Dr         Wagoner    SONIC Drive In       OK
1865             1125 Egg Harbor Rd    Sturgeon Bay         Pizza Hut       WI
5481                1631 E State Rd     Shelbyville         McDonalds       IN
6128            5010 S Campbell Ave          Tucson               KFC       AZ
3449                   11 Alpine Dr      Batesville           Wendy's       IN
8888            2401 Van Brunt Blvd     Kansas City  Church's Chicken       MO

In [178]:
df_plot['name'].sum()

"McDonald'sSUBWAYBurger KingTaco BellSubwayDomino's PizzaCheckersTaco BellTaco BellSubwayMcDonald'sPizza HutTaco BellBravo TacosWendy'sTaco TimeTaco BellDomino's PizzaJimmy John'sMcDonald'sSteak 'n ShakeSONIC Drive InTopper's PizzaMcDonald'sSONIC Drive InPizza HutMcDonaldsKFCWendy'sChurch's Chicken"